20210505/aula09_node_red_twitter_cloudant.json
[{"id":"21696cea.4bb894","type":"tab","label":"Aula09_Node_Red_Twitter_Cloudant","disabled":false,"info":""},{"id":"24bff631.365b9a","type":"twitter in","z":"21696cea.4bb894","twitter":"","tags":"@onesysdeveloper","user":"user","name":"twitter","inputs":0,"x":210,"y":240,"wires":[["459f772c.abe808"]]},{"id":"f4d82ad5.db8ae8","type":"debug","z":"21696cea.4bb894","name":"Twitter Screen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":160,"wires":[]},{"id":"459f772c.abe808","type":"function","z":"21696cea.4bb894","name":"receive_tweet","func":"msg.payload = msg.tweet;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":240,"wires":[["8f6b4402.d3bbc8","f4d82ad5.db8ae8"]]},{"id":"8f6b4402.d3bbc8","type":"cloudantplus out","z":"21696cea.4bb894","name":"Record Tweets","cloudant":"3f5d175.ee065e8","database":"db_tweets","service":"_ext_","payonly":false,"operation":"insert","x":640,"y":240,"wires":[[]]},{"id":"c591423a.57d5d","type":"cloudantplus in","z":"21696cea.4bb894","name":"Retrieve Tweets","cloudant":"3f5d175.ee065e8","database":"db_tweets","service":"_ext_","search":"_all_","design":"","index":"","x":420,"y":340,"wires":[["29a8ab13.083ca4"]]},{"id":"29a8ab13.083ca4","type":"debug","z":"21696cea.4bb894","name":"Cloudant data output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"29eb6652.5faefa","type":"inject","z":"21696cea.4bb894","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[["c591423a.57d5d"]]},{"id":"3f5d175.ee065e8","type":"cloudantplus","host":"","name":"Node Red Twitter Cloudant"}]