20210428/aula08_node_red.json
[{"id":"9f37a94a.766d18","type":"tab","label":"Aula08_Node_Red","disabled":false,"info":""},{"id":"9bb2efcc.7f3b9","type":"inject","z":"9f37a94a.766d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":210,"y":80,"wires":[["75eb207b.7d704","9243d84f.01e478"]]},{"id":"cf44a28c.3a66c","type":"twitter in","z":"9f37a94a.766d18","twitter":"","tags":"@onesysdeveloper","user":"user","name":"twitter","inputs":0,"x":210,"y":380,"wires":[["798ca613.364dc8"]]},{"id":"6e985134.61036","type":"debug","z":"9f37a94a.766d18","name":"Twitter Screen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":380,"wires":[]},{"id":"798ca613.364dc8","type":"function","z":"9f37a94a.766d18","name":"receive_tweet","func":"dados = {\n    'message' : msg.tweet.full_text,\n    'coordinates' : msg.tweet.coordinates,\n    'name' : msg.tweet.user.name\n};\n\nmsg.payload = dados;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":380,"wires":[["6e985134.61036"]]},{"id":"75eb207b.7d704","type":"debug","z":"9f37a94a.766d18","name":"Screen 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":80,"wires":[]},{"id":"9243d84f.01e478","type":"function","z":"9f37a94a.766d18","name":"Converts values","func":"x = msg.payload;\n\nif(x > 10) {\n    msg.payload = \"Value greater than 10\";\n} else {\n    msg.payload = \"Value less than or equal to 10\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":140,"wires":[["9f8255ad.c9fe98"]]},{"id":"9f8255ad.c9fe98","type":"debug","z":"9f37a94a.766d18","name":"Screen 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"ca450b32.493f28","type":"inject","z":"9f37a94a.766d18","name":"0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":210,"y":220,"wires":[["dd1679b2.1c27c8"]]},{"id":"f648dbae.27cc08","type":"debug","z":"9f37a94a.766d18","name":"Screen 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":220,"wires":[]},{"id":"dd1679b2.1c27c8","type":"switch","z":"9f37a94a.766d18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["f648dbae.27cc08"],["3df3dba2.d1aed4"]]},{"id":"3df3dba2.d1aed4","type":"change","z":"9f37a94a.766d18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Value less than or equal to 0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["f648dbae.27cc08"]]}]